<!--Home-->
<div class="container main col-xxl-10 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5">
    <div class="col-lg-6">
      <img src="assets/dhirajjirel.png" class="d-block mx-lg-auto img-fluid" alt="Dhiraj Jirel Image" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <strong class="fs-4" data-aos="fade-right" data-delay="100">I am</strong>
      <h1 class="display-2 text-body-emphasis lh-1 mb-3 text-secondary" data-aos="fade-right" data-delay="150">Dhiraj Jirel</h1>
      <p class="lead" data-aos="fade-right" data-delay="200">I am a web developer. I have experience in developing web applications using Angular, SpringBoot & PostgreSQL.</p>
      <p class="lead" data-aos="fade-right" data-delay="300">I am passionate about learning new technologies and building web applications.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" (click)="onClickAboutMe()" class="btn btn-primary btn-lg px-4 me-md-2" data-aos="fade-right" data-delay="350">About Me</button>
        <button type="button" (click)="onClickResume()" class="btn btn-outline-secondary btn-lg px-4" data-aos="fade-right" data-delay="400">Resume</button>
      </div>
    </div>
  </div>
</div>