<div class="container py-5">
    <p class="text-center">©2025 <span>Copyright</span> <strong class="px-1 sitename">DHIRAJ JIREL</strong> <span>All Rights Reserved<br></span></p>
    <div class="d-flex justify-content-center">
        <ul class="nav list-unstyled">
            <li class="ms-3">
                <a class="icon-border" href="https://github.com/Deejs2">
                    <fa-icon [icon]="faGithubIcon"></fa-icon>
                </a>
            </li>
            <li class="ms-3">
                <a class="icon-border" href="https://www.linkedin.com/in/dhiraj-j">
                    <fa-icon [icon]="faLinkedinIcon"></fa-icon>
                </a>
            </li>
            <li class="ms-3">
                <a class="icon-border" href="https://www.facebook.com/people/Dhiraj-Jirel/100008951822229/">
                    <fa-icon [icon]="faFacebookIcon"></fa-icon>
                </a>
            </li>
            <li class="ms-3">
                <a class="icon-border" href="https://x.com/dhiraj_np">
                    <fa-icon [icon]="faTwitterIcon"></fa-icon>
                </a>
            </li>
            <li class="ms-3">
                <a class="icon-border" href="https://www.instagram.com/dhiraj07j">
                    <fa-icon [icon]="faInstagramIcon"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</div>

